$largeScreen: 1150px;
$extraSmallLargeScreen: 1024px;
$mediumScreen: 819px;
$extraMediumScreen: 768px;
$smallScreen: 629px;
$extraSmallScreen: 480px;

$smallFontSize: 16px;
$defaultFontSize: 18px;
$extraSmallFontSize: 15px;

$mainDefaultColor: #111;
$mainPrimeColor: #fc0;
$mainBlackColor: #000;
$mainGrayColor: #ccc;